.header{
    height:8vh;
    background-color: #4682B4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
}


.content{
    width:100%;
    color:rgba(0, 0, 0, 0.721);

}

.add-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px 0px;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 16px;
    display:flex;
    justify-content: start;
    align-items: flex-start;
}

.form-group input,
.form-group textarea {
    width: 40vh;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group textarea {
    resize: vertical;
}

/* Container to center align form group content */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vh;
}

button{
    background-color: #4682B4;
    padding:8px;
    border-radius:10%;
    font-size: 14px;
    color: white;
}

.container{
    display:flex;
    justify-content: space-evenly;
    align-content:center ;
    width:100%;

}

table,th,td{
    border:0.2px solid black;
    border-collapse: collapse;
}

th,td{
    padding:10px;
}


.content{
    bACKGROUND-color:#F0F8FF ;
    height:100vh;
   
}