<div class="header">
    <p>TO-DO LIST</p>
    <p>Manjunath</p>
</div>

<div class="spacing"></div>

<div class="content">
  <div class="add-item">
    <div class="form-container">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="name" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="description"></textarea>
      </div>
      <div class="form-group">
        <button (click)="addTask()">Add Task</button>
      </div>
    </div>
  </div>

  <div class="container">
    <table>
      <tr>
        <th>Sr.No</th>
        <th>Title</th>
        <th style="word-break: break-word; width: 150px;">Description</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>
          <button (click)="deleteTask(i)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
